* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: honeydew;
  font-family: Georgia, "Times New Roman", Times, serif;
}

h1 {
  text-align: center;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background-color: darkgreen;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  margin: 5px;
}

button:hover {
  background-color: rgb(85, 148, 85);
}

#formContainer {
  display: flex;
  justify-content: center;
  margin: 10px;
}

form {
  text-align: center;
}

label {
  font-size: 18px;
}

input {
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgb(85, 148, 85);
  text-align: center;
}

#errorMsg {
  display: none;
  color: red;
  background-color: #ffd6d6;
  border-radius: 5px;
  padding: 5px 10px;
  text-align: center;
}

#resultsContainer {
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}

#lettersToStudy {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#currentLetterContainer {
  display: none;
  flex-direction: column;
  align-items: center;
}

#currentLetterContainer div {
  margin: 5px 0px;
  font-size: 18px;
}

img {
  width: 100%;
  height: auto;
  max-width: 700px;
  margin: 10px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.3);
}